
.myBg {
    background-image: url("../../../assets/images/login/bgLogin.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%;
    height: auto; */
   
}

.bgFilter {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(27px);
    border-radius: 50px;
    /* width: 50%;
    height: 50%;
    margin: 10%; */
}



.myHeadStyleSignin {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    color: #7A3700;
    text-align: left;
    padding-left: 34px;
    padding-top: 7rem;
}

.textSignInSt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    color: #FFFFFF;
    padding-left: 34px;
}

.myJaydarStLogin {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    padding-top: 3rem;
    margin-bottom: 86px;
}


.kirishSt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-left: 34px;
    padding-bottom: 7rem;
    padding-top: 3rem;
}

.loginStbt {   
    background: #7A3700 !important;
    border-radius: 16px !important;
    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 24px !important;
    line-height: 28px !important;
    color: #FFFFFF !important;   
}


.myStSignin{
    padding-top: 65px !important;
    padding-bottom: 144px !important;
}

.LogPadSt {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.line-st {
    color: #7A3700 !important;
    font-family: 'Roboto' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}