.board-content{
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
}
.list-item, .board-item{
	min-width: 33.3%;
	>.card{
		margin-bottom: 20px;
		.card-body{
			padding: 10px 20px ;
		}
	}
	.item-title{
		text-transform: uppercase;
		font-weight: 600;
	}
	.draggable-item{
		&.gu-transit{
			opacity: 0.8 !important;
		}
		cursor: pointer;
		border: $border-width solid $border-color;
		border-radius: $border-radius;
		padding: 25px;
		margin-bottom: 20px;
		background: $card-bg;
		&:hover {
			background: darken($card-bg, 2%);
		}
	}
}
.list-item {
	.draggable-item {
		border-left: 4px solid;
	}
}
.board-item {
	.draggable-item {
		border-left: 4px solid;
	}
}
.dark {
	.list-item, .board-item {
		.draggable-item {
			border: $border-width solid $dark-border-color;
			border-left: 4px solid;
			background: $dark-card-bg;
		}
	}
}
.board-item{
	padding: 0 10px;
	&:first-child{
		padding-right: 10px;
		padding-left: 0;
	}
	&:last-child{
		padding-right: 0;
		padding-left: 10px;
	}
}

@keyframes fadeIn {
	from {
	  opacity: 0;
	}
  
	to {
	  opacity: 1;
	}
}
@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}
@media (max-width: 992px) {
	.list-item, .board-item{
		min-width: 34%;
	}
}
@media (max-width: 768px) {
	.list-item, .board-item{
		min-width: 51%;
	}
}