/* Table custom css */


.sailSt {
    width: 95% !important;
    margin-left: auto;
    margin-right: auto;
}

.myContainerStyleSail {
    width: 95% !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    border-radius: 10px;
    padding-top: 15px !important;
    padding-bottom: 40px !important;
    margin-bottom: 15px !important;
}

.gapStyleSail {
    display: grid;
    gap: 15px !important;
}

.myStyleSail {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.myStyleSail:hover {
    background: #fbf7ea52;
    border: 1px solid #C47500 !important;
}

.myHeaderSailStyle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.01em;
    border: 0px !important;
}

.ownStyleSail {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
}

.myButtonSails {
    margin-left: 15px !important; 
    border-radius: 10px !important;
}

.qushishSail {
    background-color: #C47500 !important;
    border: 1px solid #C47500 !important;
    color: white !important;

}

.qushishSail:hover {
    background-color: #d98302 !important;
}



/* Sail Add */



.sailAddStyleCardBody {
    position: relative;
    width: 61%;
    height: 50%;
    line-height: 30px;
    text-align: center;
    border-radius: 50% !important;
    background-color: #E4CAA3 !important;
    
}

@media screen and (max-width:767px) {
    .sailAddStyleCardBody{
    height: 100%
}
}

.sailAddStyleInput {
    opacity: 0.0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 14px;
    bottom: 0;
    right: 0;
    width: 92%;
    height: 100%;
}

.sailHeader {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}



/* Delete button */
.modalBg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 5;
    background: #b8aeae9d;
    color: white;
    padding: 10%;
}

.myModal {
    position: relative;
    top: 18%;
    left: 45%;
    width: 20%;
    padding-top: 3%;
    padding-bottom: 2%;
    background-color: white;
    text-align: center;
    border-radius: 20px;
}
.myModal img{
    width: 40%;
    margin: 0 auto;
    display: block;
}
.myModal button {
    width: 60%;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
}

.disableCopiedSale {
    user-select: none;
}

@media only screen and (max-width: 992px) {
    .myModal{
        position: relative;
        left: 15%;
        width: 70%;
    }
}

@media (max-width: 576px) {
    .hide-on-mobile-sale {
        display: none;
    }
}